 <button class="pagination__button " data-modal-open type="button">...</button>
            <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <button class="close closeV'" data-modal-close type="button">
            <svg class="ico" version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32">
                
            </svg>
                </button>
                <form class="form">
                    <div class="form__div">
                        <h3 class="form__name">Перехід на іншу сторінку </h3>
                        <ul class="form__list">
                            <li class="form__item">
                            <label for="name" class="form__label">Введіть номер сторінки для переходу</label>  
               <span class="form__span">  
                   <input type="text" name="name" id="name" class="form__input"/></span>
               </li>
               
                </ul>
                </div>
                <ul class="form_list">
                <button type="submit" class="button_ok">Надіслати</button>
                <button type="submit" class="button_no">Скасувати</button></ul>
                </form>
            </div>    

            </div>